.responsive{
    width: 100%;
    height: auto;
    max-width: 100%;

}

.column {
    float: left;
    width:45.33%;
    padding: 5px;
  }

  .row.after {
    content: "";
    clear: both;
    display: table;
    padding: 3px;
  }

  .icon{
    max-width: 50%;
    padding: 0rem;
  }
  